@model IEnumerable<IdentityCore.Models.TbOdds>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StakeAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddCreator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StakeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddCreator)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OddId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OddId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OddId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
